* {
  box-sizing: border-box;
}

a {
  color: $secondary-a;
}

ul {
  margin: 0;
  padding: 0;
}

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}

.scroll-menu-arrow--disabled {
  visibility: hidden;
}
