$primary-a: rgba(21, 21, 21, 1);
$primary-b: #575757;
$primary-c: #a9a9a9;
$primary-d: rgba(209, 209, 209, 1);
$primary-e: rgba(235, 235, 235, 1);
$primary-f: rgba(245, 245, 245, 1);
$primary-h: rgba(249, 249, 249, 1);

$secondary-a: rgba(106, 152, 60, 1);
$secondary-b: rgba(70, 118, 10, 1);
$secondary-c: rgba(146, 192, 100, 1);
$secondary-d: rgba(200, 222, 179, 1);
$secondary-e: rgba(244, 248, 236, 1);

$additional-C3-a: rgba(208, 168, 102, 1);
$additional-C3-b: rgba(178, 138, 72, 1);
$additional-C3-c: rgba(236, 210, 166, 1);
$additional-C3-d: rgba(250, 237, 216, 1);
$additional-C3-e: rgba(255, 249, 240, 1);

$additional-C4-a: rgba(229, 112, 75, 1);
$additional-C4-b: rgba(199, 82, 45, 1);
$additional-C4-c: rgba(235, 141, 112, 1);
$additional-C4-d: rgba(247, 198, 183, 1);
$additional-C4-e: rgba(255, 241, 237, 1);
